:root {
  --bg-color: #1a1a34;
}
.body {
  background: var(--bg-color);
}

.glass {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
.cst-btn{
  background-color: transparent !important;
  color: white !important;
  width: 150px !important;
  display: block !important;
  text-align: center !important;
  font-size: 16px !important;
  border-radius: 5px;
}

.search-div{
  width: 100%;
  margin: 0 auto;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  flex-direction: row !important;
  height: 45px;
}

.search-input{
  width: 150px !important;
  height: 30px !important;
  padding: 10px 16px !important;
  border-radius: 4px !important;
  color: #fff;
  font-size: 1.3rem;
  border: none !important;
  outline: none !important;
  margin-right: 10px !important;
  display: none !important;
  background-color: transparent;;

}
.search-name{
  display: inline !important;
}
.icon{
  color: white !important;
  font-size: 1.2rem;
  font-weight: bold;
}